body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.callout  {
  text-align: center;
}

.footerMain {
  display: inline-flex;
  height: 30px;
  margin: 0 auto;
  width: 100%;

}

.footerColumn {
  border: 5 px;
}

.Favorites  {
  background-color: lightcyan;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 25px;
}

.Favorites:hover  {
  cursor: pointer;
}

.input  {
  border: 20px;
}

.mainPage  {
  height: 40px;
}

.footerLinks  {
  text-align: center;
  padding-bottom: 50px;
}

.created  {
  padding-left: 20px;
  padding-top: 5px;
}

.mainPage {
  border: 1px lightskyblue;
}
